html,
body {
  width: 100%;
  height: 100%;
  
  font-size: 90%;	
  font-family: 'Noto Sans JP', sans-serif;
	
  color: #4d464f;
}

ul {
	list-style: none;
}

p {
  line-height: 1rem;
}

a {
	display: block;
	
	text-decoration: none;
	
	color: #4d464f;
	
	&:checked {
		color: #4d464f;
	}
}

* {
	box-sizing: border-box;
}

// アプリ用
// inputテキストのデフォルト設定削除
input[type="text"] {
	-webkit-appearance: none;
	border: 0;
	
	&:focus {
		background: none;
		outline: none;
	}
}

textarea {
	-webkit-appearance: none;
	border: 0;
	resize: none;
	
	&:focus {
		background: none;
		outline: none;
	}
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}