.itemList {

    position: relative;
    border: solid 2px #240079;
    width: 40%;
    margin: 20px auto;

    &::after {
        position: absolute;
        content:attr(title);
        font-weight: bold;
        font-size: 1.3rem;
        border-radius: 4px 4px 0 0;
        letter-spacing: 0.05rem;
        padding: 2px 5px;

        color: #fff;
        background-color: #240079;

        bottom: 100%;
        left: -2px;
    }
    

    & li {
        width: 90%;
        height: 40px;
        padding: 3px;
        line-height: 40px;

        border-bottom: 1px dashed rgb(77, 114, 182);

        &:last-child {
            border: none;
        }

    }
}


.searchedItem {
    color: #e3e3e3;
}

.targetItem {
    color: red;
}