@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  font-size: 90%;
  font-family: 'Noto Sans JP', sans-serif;
  color: #4d464f; }

ul {
  list-style: none; }

p {
  line-height: 1rem; }

a {
  display: block;
  text-decoration: none;
  color: #4d464f; }
  a:checked {
    color: #4d464f; }

* {
  box-sizing: border-box; }

input[type="text"] {
  -webkit-appearance: none;
  border: 0; }
  input[type="text"]:focus {
    background: none;
    outline: none; }

textarea {
  -webkit-appearance: none;
  border: 0;
  resize: none; }
  textarea:focus {
    background: none;
    outline: none; }

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 20px auto; }

.search-area {
  width: 55%;
  margin: 10px auto; }
  .search-area__sub-button {
    display: flex;
    justify-content: space-between; }
    .search-area__sub-button--default {
      display: flex;
      justify-content: flex-start; }
      .search-area__sub-button--default li {
        margin-left: 20px; }
    .search-area__sub-button--algorithm {
      display: flex;
      justify-content: flex-end; }
      .search-area__sub-button--algorithm li {
        margin-right: 20px; }

/*
下線のみを持つシンプルなテキスト入力
フォーカスでプレースホルダが移動し、アクティブになったことを表すために
下線の色が変化する
@parameter $color {map} (
	textColor: 入力テキストの色
	accentColor: アクティブ時にボーダー・プレースホルダに付与される色　
	nonActiveColor: デフォルドで表示される色
)
@parameter $scale {map} (
	perWidth: 入力要素の幅 パーセント形式で記述
	height: 入力要素の高さ
)
@parameter $fontSize {number} 文字の大きさ
*/
.add-button, .clear-button, .search-button, .delete-button, .button--generate {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; }

.add-button, .clear-button, .search-button, .delete-button, .button--generate {
  transition: .4s; }
  .add-button:hover, .clear-button:hover, .search-button:hover, .delete-button:hover, .button--generate:hover {
    color: #fff; }

.itemList {
  width: 40%;
  position: relative;
  margin: 20px auto;
  border: solid 2px #240079; }
  .itemList::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: -2px;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    padding: 2px 5px;
    border-radius: 4px 4px 0 0;
    color: #fff;
    background-color: #240079; }
  .itemList li {
    width: 90%;
    height: 40px;
    line-height: 40px;
    padding: 3px;
    border-bottom: 1px dashed #4d72b6; }
    .itemList li:last-child {
      border: none; }

.searchedItem {
  color: #e3e3e3; }

.targetItem {
  color: red; }

.search-area--input {
  margin-top: 20px;
  width: 60%;
  height: 32px;
  display: inline-block;
  position: relative; }
  .search-area--input input, .search-area--input textarea {
    width: 100%;
    height: 32px;
    display: inline-block;
    font-size: 1rem;
    padding: 12px 0;
    border-bottom: 2px solid #C8CCD4;
    color: #223254;
    transition: all .15s ease; }
    .search-area--input input:hover, .search-area--input textarea:hover {
      background-color: rgba(34, 50, 84, 0.03); }
    .search-area--input input:not(:placeholder-shown) ~ span[class$="__placeholder"], .search-area--input textarea:not(:placeholder-shown) ~ span[class$="__placeholder"] {
      color: #4893C6;
      transform: translateY(-17.6px) scale(0.85); }
    .search-area--input input:focus ~ span[class$="__placeholder"], .search-area--input textarea:focus ~ span[class$="__placeholder"] {
      color: #4893C6;
      transform: translateY(-17.6px) scale(0.85); }
      .search-area--input input:focus ~ span[class$="__placeholder"] + span[class$="__border"], .search-area--input textarea:focus ~ span[class$="__placeholder"] + span[class$="__border"] {
        transform: scaleX(1); }
  .search-area--input__placeholder {
    position: absolute;
    top: 8px;
    left: 0;
    color: #C8CCD4;
    transform-origin: 0 0;
    transition: all 0.2s ease; }
  .search-area--input__border {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #4893C6;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease; }

.add-button {
  width: 48px;
  height: 24px;
  background-color: #F4F3F6;
  color: #4893C6; }
  .add-button:hover {
    background-color: #4893C6; }

.clear-button {
  width: 48px;
  height: 24px;
  background-color: #F4F3F6;
  color: #84B9E5; }
  .clear-button:hover {
    background-color: #84B9E5; }

.search-button, .delete-button {
  width: 48px;
  height: 24px;
  background-color: #F4F3F6;
  color: #C14F7E; }
  .search-button:hover, .delete-button:hover {
    background-color: #C14F7E; }

.button--generate {
  width: 48px;
  height: 24px;
  background-color: #F4F3F6;
  color: #84B9E5; }
  .button--generate:hover {
    background-color: #84B9E5; }

.auto-generator {
  -webkit-appearance: none;
  width: 300px;
  height: 5px;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  background-color: #F4F3F6;
  outline: 0; }
  .auto-generator::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #C14F7E;
    cursor: pointer;
    transition: .3s ease-in-out; }
    .auto-generator::-webkit-slider-thumb:active {
      transform: scale(1.6); }

/*# sourceMappingURL=style.css.map */
